{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <title>Minh Pham</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#nav">
    <div id="section-topbar">
        <div id="topbar-inner">
            <div class="container">
                <div class="row">
                    <div class="dropdown">
                        <ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#work" title="Portfolio"><i class="icon-briefcase"></i></a></li>
                            <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
                        </ul>
                        <!--/ uL#nav -->
                    </div>
                    <!-- /.dropdown -->
                    <div class="clear"></div>
                </div>
                <!--/.row -->
            </div>
            <!--/.container -->
            <div class="clear"></div>
        </div>
        <!--/ #topbar-inner -->
    </div>
    <!--/ #section-topbar -->
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Minh N. Pham</h1>
                    <h3>Python Software Engineer</h3>
                </div>
                <!--/.col-lg-12 -->
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/.#headerwrap -->
    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>ABOUT</h5>
                </div>
                <div class="col-lg-6">
                    <p>I'm fullstack software engineer specialised in Python and Django. I'm interested in all kinds of software interaction, but my major focus is on builidng powerful and flexible toolkit for Web APIs. I also have skills in other fields like developing mobile app, desinging web or web development.</p>
                </div>
                <div class="col-lg-3">
                    <p><a href="../static/Resume.pdf"><i class="icon-file"></i></a>
                        <sm>DOWNLOAD PDF</sm>
                    </p>
                </div>
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/ #intro -->
    <section id="resume" name="resume"></section>
    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>EDUCATION</h5>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Certificate of Software Engineering</t>
                    <br/> Coding Dojo
                    <br/>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>AUGUST 2016 - CURRENT</sm>
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Bachelor of Arts</t>
                    <br/> California State University Fullerton
                    <br/> Business Administration
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>JUNE 2011 - JUNE 2015</sm>
                </p>
            </div>
        </div>
        <!--/.row -->
        <br>
        <hr>
    </div>
    <!--/.container -->
    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>WORK</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Junior Software Engineer</t>
                    <br/> Coding Dojo
                    <br/>
                </p>
                <p>
                    <ul>
                        <li>
                            Built, tested and deployed scalable, highly available and modular software products.
                        </li>
                        <li>
                            Analyzed and designed relational databases using MySQL Workbench.
                        </li>
                        <li>
                            Led a group of four engineers in the design, and development of python-based software solutions.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>August 2016 - Present</sm>
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Marketing Assistant</t>
                    <br/> Btouch Solution Co.
                    <br/>
                </p>
                <p>
                    <ul>
                        <li>
                            Support the work of marketing managers and executives on projects directed at maximising company profits and developing sales strategies or marketing campaigns
                        </li>
                        <li>
                            Providing support for marketing events and exhibitions as required
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>JULY 2015 - JULY 2016</sm>
                </p>
            </div>
            
        </div>
        <!--/.row -->
        <br>
        <hr>
    </div>
    <!--/.container -->
    <!--SKILLS DESCRIPTION -->
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>SKILLS</h5>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="javascript" height="130" width="130"></canvas>
                    <p>Python</p>
                    <br>
                    <script>
                    var doughnutData = [{
                        value: 80,
                        color: "#1abc9c"
                    }, {
                        value: 20,
                        color: "#ecf0f1"
                    }];
                    var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="bootstrap" height="130" width="130"></canvas>
                    <p>MySQL</p>
                    <br>
                    <script>
                    var doughnutData = [{
                        value: 90,
                        color: "#1abc9c"
                    }, {
                        value: 10,
                        color: "#ecf0f1"
                    }];
                    var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="wordpress" height="130" width="130"></canvas>
                    <p>MEAN Stack</p>
                    <br>
                    <script>
                    var doughnutData = [{
                        value: 70,
                        color: "#1abc9c"
                    }, {
                        value: 30,
                        color: "#ecf0f1"
                    }];
                    var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 col-lg-offset-3 centered">
                    <canvas id="html" height="130" width="130"></canvas>
                    <p>Django</p>
                    <br>
                    <script>
                    var doughnutData = [{
                        value: 80,
                        color: "#1abc9c"
                    }, {
                        value: 20,
                        color: "#ecf0f1"
                    }];
                    var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
                <div class="col-lg-3 centered">
                    <canvas id="photoshop" height="130" width="130"></canvas>
                    <p>Swift/Xcode</p>
                    <br>
                    <script>
                    var doughnutData = [{
                        value: 70,
                        color: "#1abc9c"
                    }, {
                        value: 30,
                        color: "#ecf0f1"
                    }];
                    var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
                    </script>
                </div>
            </div>
            <!--/.row -->
            <br>
        </div>
        <!--/.container -->
    </div>
    <!--/ #skillswrap -->
    <section id="work" name="work"></section>
    <!--PORTFOLIO DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>PORTFOLIO</h5>
                <br>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <p><img class="img-responsive" src="{% static 'img/alexa_touchface.png' %}" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>Alexa Skill TouchFace - <a href="https://github.com/aminhp93/alexa.git">https://github.com/aminhp93/alexa.git</a></p>
                <p>
                    <ul>
                        <li>
                            Implemented in Python using voice recognition to send messages using Twillo API over AWS Lambda, ngrok, Flask-Ask over 4 consecutive days.
                        </li>
                        <li>
                            Rank #1 on Python hackathon week among 10 teams and was granted Coding Dojo’ prestigious award.
                        </li>
                        <li>
                            Responsible for plan, execution, and product test in entire project, making sure that every part get the specific point before adding other features.
                        </li>
                    </ul>
                    <sm><i class="icon-tag"></i> python </sm>
                    </more>
                </p>
            </div>
            <div class="col-lg-6">
                <!-- <p><img class="img-responsive" src="{% static 'img/port01.jpg' %}" alt=""></p> -->
                <!-- <section class="section-white"> -->
                <div class="container">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{% static 'img/package_1.png' %}" alt="...">
                            </div>
                            <div class="item">
                                <img src="{% static 'img/package_2.png' %}" alt="...">
                            </div>
                            <div class="item">
                                <img src="{% static 'img/package_3.png' %}" alt="...">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!-- </section> -->
            </div>
            <div class="col-lg-3">
                <br>
                <p>Package - <a href="https://github.com/aminhp93/django_package.git">https://github.com/aminhp93/django_package.git</a></p>
                <p>
                    <ul>
                        <li>A delivery management tool provided with using api with Django restful framework
                        </li>
                        <li>
                            Integrated with Django Authentication, Form and Class-Based View.
                        </li>
                        <li>
                            30% increasing speed using prefetch/select_related methods through Django Debug Toolbar
                        </li>
                    </ul>
                    <sm><i class="icon-tag"></i> django-rest-framework</sm>
                    </more>
                </p>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <p><img class="img-responsive" src="{% static 'img/we_chat_1.png' %}" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>We Chat - <a href="https://github.com/aminhp93/we_chat.git">https://github.com/aminhp93/we_chat.git</a></p>
                <p>
                    <ul>
                        <li>
                            Facebook clone that allows people to log in, add friend, and chat with each other
                        </li>
                        <li>
                            Written in Python, and Pylot (a lightweight framework of Django) and MySQL
                        </li>
                    </ul>
                    <sm><i class="icon-tag"></i> python </sm>
                    </more>
                </p>
            </div>
            <div class="col-lg-6">
                <p class="col-xs-6"><img class="img-responsive" src="{% static 'img/aero_2.jpg' %}" alt=""></p>
                <p class="col-xs-6"><img class="img-responsive" src="{% static 'img/aero_1.jpg' %}" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>Aerocare - <a href="https://github.com/aminhp93/iOS_Aorecare.git">https://github.com/aminhp93/iOS_Aorecare.git</a></p>
                <p>
                    <ul>
                        <li>
                            Allow nearest doctor to come and take care of patient based on their necessity of help.
                        </li>
                        <li>
                            iOS App implemented using CoreLocation, MapKit, EC2 Parse Server, JWT, MySQL, Javascript, Android Studio
                        </li>
                        <li>
                            Responsible for building and testing entire iOS app that matches functionality and design of Android app.
                        </li>
                    </ul>
                    <sm><i class="icon-tag"></i> iOS app </sm>
                    </more>
                </p>
            </div>
        </div>
        <!--/.row -->
        <br>
        <br>
    </div>
    <!--/.container -->
    <section id="contact" name="contact"></section>
    <!--FOOTER DESCRIPTION -->
    <div id="footwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>CONTACT</h5>
                </div>
                <div class="col-lg-6">
                    <p>
                        <t>Email</t>
                        <br/> <a href="mailto:minhpn.org.ec@gmail.com?Subject=Hello" target="_top">minhpn.org.ec@gmail.com</a>
                    </p>
                    <p>
                        <t>Adress</t>
                        <br/> 839 Morrison Park Dr
                        <br/> San Jose
                        <br/> CA 95126
                        <br/>
                    </p>
                    <p>
                        <t>Phone</t>
                        <br/> +714 213 5025
                        <br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm>SOCIAL LINKS</sm>
                    </p>
                    <p>
                        <a href="https://github.com/aminhp93"><img src="{% static 'img/icons/minh2.png' %}" alt="" style="width: 19px; height: 22px; padding: 0 6px 5px 0"></a>
                        <a href="https://www.facebook.com/minh.pham.33"><i class="icon-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/minhpham93"><i class="icon-linkedin"></i></a>
                        <a href="https://github.com/aminhp93"><i class="icon-apple"></i></a>
                    </p>
                </div>
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/ #footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
